*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container-fluid
{
    margin:60px 0;
}

.container
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn
{
    font-size: 35px;
    padding: 8px 40px;
    margin: 5px 0;
}
.btn:hover
{
    background-color: black;
    color: rgb(199, 52, 52);
}
.board
{
    gap:15px;
    height:500px;
    width:500px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.board .box
{
    height:150px;
    width:150px;
    text-align:center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 16px rgb(187, 187, 187);
}
.board .box:hover
{
    background-color: rgba(49, 49, 49, 0.724);

}